{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block page_title %}
    {{ page.title }}
{% endblock %}

{% block content_wrapper %}
    <article class="blog-article">
        <div class="blog-article-content">
            {{ page.blocks.content|raw }}
        </div>
    </article>
{% endblock %}

{% block sidebar_post_meta %}
    {% if page.location %}
        <h4>Location</h4>
        <p>{{ page.location }}
        {% if page.location == "Amsterdam" %}
            <img src="/images/y10entrance.jpg" class="thumbnail img-responsive"></img>
        {% endif %}
        </p>
        <hr>
    {% endif %}

    {% if page.contact %}
        <h4>Contact</h4>
        <ul class="list-unstyled">
            <li>{{ page.contact.name }}</li>
            <li>{{ page.contact.phone }}</li>
            <li><a href="mailto:{{ page.contact.email }}">{{ page.contact.email }}</a></li>
        </ul>
        <hr>
    {% endif %}
{% endblock %}
